*.obj
*.exe
*.pdb
*.user
[Rr]elease*/
_ReSharper*/
[Bb]in
[Dd]ebug*/
obj/
*.pdb
src/packages/*/
*.idc
*.nupkg
.idea/
.vs/
.idea/
.vscode/
/Apps/Resume/Dict
.pubxml*.log
project.lock.json
PublishProfiles
publish/
packages/
*.log

